@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Oleo+Script:wght@700&family=Playfair+Display+SC&display=swap");
body {
  position: relative;
  max-width: 1440px;
  max-height: 1024px;
  overflow-y: hidden;
  overflow-x: hidden;
  caret-color: rgba(0, 0, 0, 0);
  background: #f8f8f8;
}
